* { 

margin: 10;  
padding: 10;  
border: 10em

};  

body { 
	border: 15em
	padding:50em;
}
 
 /*nums and ops*/
.keys{
	border: groove;
	
}

/*func keys*/
.fkeyEquate{
	border: groove;
}

.fkeyWith{
	border: groove;
}
.fkeyDep{
	border: groove;
}
.fkeyBal{
	border: groove;
}
.fkeyClr{
	border: groove;
}