* { 

margin: 10;  
padding: 10;  
border: 10em

};  

body { 
	border: 15em
	padding:50em;
}
 
 /*nums and ops*/

.keys{
	border: groove;
	
}

#fkeyEquate{
	border: groove;
}

#divide{
	border: groove;
}

#multiply{
	border: groove;
}

#add{
	border: groove;
}

#subtract{
	border: groove;
}